<div class="row">
<title>Edit Friends</title>
		<div class="col s6">
			<h3>Edit <%=friend.friendname%>'s Profile:</h3>
				<form method="POST" action="/friend/<%= friend.id %>/?_method=PUT">
					<ul>
						<li>Name:<input type="text" name="friendname" value="<%=friend.friendname%>"></li>
						<li>Event:<input type="text" name="event" value="<%=friend.event%>"></li>
						<li>Date:<input type="text" class="datepickerT" name="date" value="<%=friend.date%>"></li>
					</ul>
					<button class="btn waves-effect waves-light" type="submit" name="action">Done Editing
	    			<i class="material-icons right">done_all</i>
	 				</button>
				</form>
		</div>

		<div class="col s6">
			<h3>Add/Remove Tags:</h3>
					<ul>
						<form method="POST" action="/friend/edit/<%=friend.id%>">
							<div class="col s10">
								<input type="text" name="tags" placeholder="Add new tags (separated by comma)">
							</div>
							<div class="col s2">
								<input type="submit" value="Add">
							</div>
						</form>
					</ul>
				<div class="tagList">
					<ul>
						<% friend.tags.forEach(function(t){ %>
							<form method="POST" action="/friend/edit/<%=t.id%>/?_method=DELETE"">
								<input type="hidden" name="friendId" value="<%=friend.id%>">
								<input type="hidden" name="userId" value="<%=user.id%>">
								<span class="tags">#<%= t.content %><input type="submit" class="tagDelete" value="✖️"></span>
							</form>
						<% }); %>
					</ul>
				</div>	
		</div>
	</div>
