<div class="row">
<title>More about your friend</title>
	<div class="col s6">
		<h3>More About <%=friend.friendname%>:</h3>
			<ul>
		 		<li>Event: <%=friend.event%></li>
		 		<li>Date: <%=friend.date%></li>
		 		<li>Tags: 
				 	<% friend.tags.forEach(function(t){ %>
							<span class="tags"><a href="/tag/<%=t.id%>">#<%= t.content %></a></span>
					<% }); %>	
				</li>
		 	</ul>
	</div>

	<div class="col s12">
		
	</div>
</div>