<div class="row editFont">
<title>More about your friend</title>
	<div class="col s12">
		<h3>More About <%=friend.friendname%>:</h3>
			<ul>
		 		<li><b>Event:</b> <%=friend.event%></li>
		 		<li><b>Date:</b> <%=friend.date%></li>
		 		<li><b>Tags: </b>
				 	<% friend.tags.forEach(function(t){ %>
							<span class="tags">#<%= t.content %></span>
					<% }); %>	
				</li>
		 	</ul>
		<form method="GET" action="/friend">
			<button class="btn waves-effect waves-light" type="submit" name="action">Back to Friend List
			<i class="material-icons right">arrow_back</i>
			</button>
		</form>
	</div>
</div>


<div class="row">
	<div class="col s12 heroSlider-fixed">
		<% results.forEach(function(t){ %>
			<h4><%=t.tag.content%></h4>
			<div class="slider responsive <%=t.tag.content%>">
				<% t.gifts.forEach(function(result) {%>
					<div class="col s12 m4 l2">
						<div class="card wrapper">
						  	<div class="cardwrap">
						        <div class="card-image imagewrap">
						         	<img src="<%=result.Images[0].url_570xN%>">
							    </div>
						   		<div class="wraprest">
						   			<a class="btn-floating halfway-fab waves-effect waves-light red" href="<%=result.url%>"><i class="material-icons">add</i></a>
						  	 		<div class="card-content">
						     	  		<h5><%=result.title.slice(0,30)+"..."%></h5>
						     	  	</div>
					     	 	</div>
						    </div>
					   </div>
					</div>
				<% })%>
				</div>
				<div class="prev <%=t.tag.content%>">
					<i class="material-icons">keyboard_arrow_left</i>
				</div>
				<div class="next <%=t.tag.content%>">
					<i class="material-icons">keyboard_arrow_right</i>
				</div>
		   	<hr>
		   <% }) %>
		</div>
</div>
<% results.forEach(function(t){ %>
<script>
	$('.<%=t.tag.content%>').slick({
	  dots: true,
		prevArrow: $('.<%=t.tag.content%>.prev'),
		nextArrow: $('.<%=t.tag.content%>.next'),
	  infinite: true,
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 4,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true,
	        dots: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1
	      }
	    }
	  ]
	});
</script>
<% }) %>