<div class="row">
	<h1><%= user.firstname %>'s Profile!</h1>
		<div class="col s6">
			<div>
				<img src="<%= user.image %>" class="profile">
			</div>
			<div>
				<p><b>Display Name:</b> <%=user.username%></p>
				<p><b>User Status:</b> <%=user.admin ? 'Admin':'User'%></p>
				<p><b>Full Name:</b> <%=user.firstname%> <%=user.lastname%></p>
				<p><b>Email:</b> <%=user.email%></p>
				<p><b>Date of Birth:</b> <%=user.dob%></p>
			</div>
		</div>
		<div class="col s6">
			<h4><b><%= user.firstname %>'s Bio</b></h4>
			<p><%= user.bio %></p>
		</div>
		<form method="GET" action="/profile/edit/<%=user.id%>">
			<button class="btn waves-effect waves-light" type="submit" name="action">Edit Profile
    		<i class="material-icons right">edit</i>
 			</button>
		</form>
</div>