<div class="row">
	<h1><%= user.firstname %>'s Profile!</h1>
		<div class="col s6">
			<div>
				<img src="<%= user.image %>" class="profile">
			</div>
			<div>
				<p><strong>Display Name:</strong><%=user.username%></p>
				<p><strong>User Status:</strong><%=user.admin ? 'Admin':'User'%></p>
				<p><strong>Full Name:</strong><%=user.firstname%> <%=user.lastname%></p>
				<p><strong>Email:</strong><%=user.email%></p>
				<p><strong>Date of Birth:</strong><%=user.dob%></p>
			</div>
		</div>
		<div class="col s6">
			<h4><%= user.firstname %>'s Bio</h4>
			<p>Note:<%= user.bio %></p>
		</div>
		<form method="GET" action="/profile/edit/<%=user.id%>">
			<input type="submit" value="Edit Profile">
		</form>
</div>